.creatorCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    transition: .5s ease-in;
    h2{
        font-size: 200%;
        line-height: 1em;
        padding-bottom: 2rem;
    }
    .cardList{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .creatorCard{
        display: flex;
        position: relative;
        cursor: pointer;
        flex-direction: column;
        border-radius: 50px;
        background: #d3eefd;
        box-shadow:  20px -20px 60px #b3cad7, 
             -20px 20px 60px #f3ffff;
        width: 30rem;
        height: 20rem;
        padding: 2.5rem;
        margin-left:3rem;
        overflow: hidden;
        .creatorCardName{
            display: flex;
            align-items: center;
            justify-content: center;
            mix-blend-mode: multiply;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 2.5px;
            -webkit-text-stroke-color: black;
            font-weight:1000;
            color: transparent;
            z-index: 2;
        }
        .creatorCardAvatarBackground{
            position: absolute;
            background-size: cover;
            margin-top: -20%;
            margin-left: -20%;
            width: 150%;
            height: 15.5rem;
            background-clip: border-box;
            background-position: top center;
            border-radius: inherit;
            opacity: .8;
            mix-blend-mode: darken;
            box-shadow: inset 0px 0px 15px 15px #d3eefd;
            overflow: hidden;

        }
        .creatorCardAvatarContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index:2;
            img{
                background-size: cover;
                background-position: top center;
                display: block;
                width: 8.5rem;
                height: 8.5rem;
                border-radius: 50%;
                object-fit: cover;
                padding: 0.5rem;
                
            }
        }
        
        .creatorCardContentContainer{
            display: flex;
            z-index:2;
            flex-direction: column;
            h4{
                font-size: 90%;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .creatorCardContainer{
        .cardList{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .creatorCard{
            margin: 0;
            width: 80%;
            height: 40%;
            margin-bottom: 5rem;
        }
        h2{
            font-size: 150%;
        }
        h4{
            font-size: 100%;
        }
    }
}

@media only screen and (min-width: 576px) {
    .creatorCardContainer{
        .cardList{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .creatorCard{
            margin-bottom: 5rem;
        }
        h2{
            font-size: 150%;
        }
        h4{
            font-size: 100%;
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .creatorCardContainer{
        .cardList{
            flex-direction: row;
        }
        img{
            background-position: top center;        
        }
        h2{
            font-size: 150%;
        }
        h4{
            font-size: 100%;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .creatorCardContainer{
        .cardList{
            flex-direction: row;
        }
        img{
            background-position: top center;        
        }
    }
    
}


